<a href="https://colab.research.google.com/github/Hubert26/machine-learning/blob/main/project_hubert_szewczyk.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#OPIS PROJEKTU

Lending Club to firma pożyczkowa typu peer-to-peer, która łączy pożyczkobiorców z
inwestorami za pośrednictwem platformy internetowej. Obsługuje osoby, które potrzebują
pożyczek osobistych w wysokości od 1000 do 40 000 USD. Pożyczkobiorcy otrzymują pełną
kwotę udzielonej pożyczki pomniejszoną o opłatę początkową, która jest uiszczana firmie.
Inwestorzy kupują weksle zabezpieczone osobistymi pożyczkami i płacą Lending Club
opłatę za usługę. Firma Lending Club udostępnia dane o wszystkich pożyczkach
udzielonych za pośrednictwem swojej platformy w określonych okresach.
Na potrzeby tego projektu zostały użyte dane dotyczące pożyczek udzielonych za
pośrednictwem Lending Club na przestrzeni lat 2007 -2011. Każda pożyczka jest opatrzona
informacją o tym, czy ostatecznie została spłacona (Fully Paid lub Charged off w kolumnie
loan_status).

W tym projekcie chcę zbudować model klasyfikacyjny, który na podstawie zebranych danych będzie przewidywał, czy potencjalny pozyczkobiorca spłaci swój dług.

#KOD

##Import bibliotek i ustawienia

In [144]:
import numpy as np
import pandas as pd
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns

#Ustawienie braku maksymalnej ilości wyświetlanych kolumn
pd.options.display.max_columns = None

##Definicje funkcji

In [145]:
def display_info(df, selected_columns, df_info):
    for col_name in selected_columns:
        print("Column Name:", col_name)

        # Description
        if col_name in df_info.index:
            print("Description:", df_info.loc[col_name]['Description'])
        else:
            print("Description not available.")

        # Statistics
        print("\nStatistics:")
        print(df[col_name].describe())

        # Value counts
        print("\nValue counts:")
        print(df[col_name].value_counts())

        # Unique values
        print("\nUnique values:")
        print(df[col_name].unique())

        # Mode
        print("\nMode:")
        print(df[col_name].mode())

        # NaN count
        nan_count = df[col_name].isna().sum()
        print("\nNaN count:", nan_count)

        print("\n" + "=" * 40)  # Separator between columns

##1. Obróbka danych

###Pobranie danych z plików

In [146]:
df_raw = pd.read_csv('https://raw.githubusercontent.com/Hubert26/machine-learning/main/Loan_data.csv', low_memory=False)

In [147]:
df = df_raw.copy()

In [148]:
df_info_raw = pd.read_csv('https://raw.githubusercontent.com/Hubert26/machine-learning/main/LCDataDictionary.csv')

In [149]:
df_info = df_info_raw.iloc[:, 0:2]
df_info.set_index(df_info.columns.tolist()[0], inplace=True)

###Eksploracja danych

In [150]:
df.shape

(42536, 151)

In [151]:
df.head(2)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,fico_range_low,fico_range_high,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,last_fico_range_high,last_fico_range_low,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_fico_range_low,sec_app_fico_range_high,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,1077501,NaN,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-2011,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/22/11 > I need to upgra...,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-1985,735.0,739.0,1.0,NaN,NaN,3.0,0.0,13648.0,83.7%,9.0,f,0.0,0.0,5863.155187,5833.84,5000.00,863.16,0.0,0.0,0.00,Jan-2015,171.62,NaN,Aug-2018,739.0,735.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,1077430,NaN,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-2011,Charged Off,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/22/11 > I plan to use t...,car,bike,309xx,GA,1.00,0.0,Apr-1999,740.0,744.0,5.0,NaN,NaN,3.0,0.0,1687.0,9.4%,4.0,f,0.0,0.0,1014.530000,1014.53,456.46,435.17,0.0,122.9,1.11,Apr-2013,119.66,NaN,Oct-2016,499.0,0.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [152]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42536 entries, 0 to 42535
Columns: 151 entries, id to settlement_term
dtypes: float64(120), object(31)
memory usage: 49.0+ MB

In [153]:
df.describe()

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,installment,annual_inc,dti,delinq_2yrs,fico_range_low,fico_range_high,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,total_acc,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,last_fico_range_high,last_fico_range_low,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_fico_range_low,sec_app_fico_range_high,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,settlement_amount,settlement_percentage,settlement_term
count,0.0,42535.000000,42535.000000,42535.000000,42535.000000,4.253100e+04,42535.000000,42506.000000,42535.000000,42535.000000,42506.000000,15609.000000,3651.000000,42506.000000,42506.000000,4.253500e+04,42506.000000,42535.0,42535.0,42535.000000,42535.000000,42535.000000,42535.000000,42535.000000,42535.000000,42535.000000,42535.000000,42535.000000,42535.000000,42390.0,0.0,42535.0,0.0,0.0,0.0,42506.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,42390.0,42506.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,41170.000000,42430.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,160.000000,160.000000,160.000000
mean,NaN,11089.722581,10821.585753,10139.938785,322.623063,6.913656e+04,13.373043,0.152449,713.052545,717.052545,1.081424,35.017618,59.175568,9.343951,0.058156,1.429786e+04,22.124406,0.0,0.0,12020.189644,11312.729377,9675.675936,2239.981444,1.516890,103.015467,14.387843,2613.245652,689.922511,676.952039,0.0,NaN,1.0,NaN,NaN,NaN,0.000094,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.143039,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.045227,0.000024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4272.137875,49.905875,1.200000
std,NaN,7410.938391,7146.914675,7131.598014,208.927216,6.409635e+04,6.726315,0.512406,36.188439,36.188439,1.527455,22.418427,47.145396,4.496274,0.245713,2.201844e+04,11.592811,0.0,0.0,9094.685888,9038.506549,7105.750304,2585.057393,7.830064,735.799086,162.177837,4385.066535,80.818099,119.647752,0.0,NaN,0.0,NaN,NaN,NaN,0.009700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,29.359579,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.208737,0.004855,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3119.373774,15.563690,4.085255
min,NaN,500.000000,500.000000,0.000000,15.670000,1.896000e+03,0.000000,0.000000,610.000000,614.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000e+00,1.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,NaN,1.0,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,193.290000,10.690000,0.000000
25%,NaN,5200.000000,5000.000000,4950.000000,165.520000,4.000000e+04,8.200000,0.000000,685.000000,689.000000,0.000000,17.000000,0.000000,6.000000,0.000000,3.635000e+03,13.000000,0.0,0.0,5465.685189,4793.115000,4400.000000,657.100000,0.000000,0.000000,0.000000,211.050000,644.000000,640.000000,0.0,NaN,1.0,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1842.750000,40.000000,0.000000
50%,NaN,9700.000000,9600.000000,8500.000000,277.690000,5.900000e+04,13.470000,0.000000,710.000000,714.000000,1.000000,33.000000,85.000000,9.000000,0.000000,8.821000e+03,20.000000,0.0,0.0,9682.251696,8956.080000,8000.000000,1339.160000,0.000000,0.000000,0.000000,528.360000,699.000000,695.000000,0.0,NaN,1.0,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3499.350000,49.970000,0.000000
75%,NaN,15000.000000,15000.000000,14000.000000,428.180000,8.250000e+04,18.680000,0.000000,740.000000,744.000000,2.000000,51.000000,101.000000,12.000000,0.000000,1.725100e+04,29.000000,0.0,0.0,16427.850066,15543.875000,13499.995000,2803.090000,0.000000,0.000000,0.000000,3170.220000,749.000000,745.000000,0.0,NaN,1.0,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5701.100000,60.652500,0.000000
max,NaN,35000.000000,35000.000000,35000.000000,1305.190000,6.000000e+06,29.990000,13.000000,825.000000,829.000000,33.000000,120.000000,129.000000,47.000000,5.000000,1.207359e+06,90.000000,0.0,0.0,58886.473429,58563.680000,35000.020000,23886.470000,209.000000,29623.350000,7002.190000,36115.200000,850.000000,845.000000,0.0,NaN,1.0,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,6053.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14798.200000,92.740000,24.000000

In [154]:
#Sprawdzenie czy wszystkie wartości są unikalne
len(df['id'].unique())==df.shape[0]

True

In [155]:
column_names = df.columns.tolist()

In [156]:
mask = df.isna()

In [157]:
naan_counts_columns = [(mask[column] == True).sum() for column in df.columns]
naan_column = pd.DataFrame([naan_counts_columns], columns=df.columns, index=['NaN'])
df_info = df_info.merge(naan_column.T, left_index=True, right_index=True, how='left')

In [158]:
mode_column = pd.DataFrame(columns=['mode'], index=column_names)
for col_name in column_names:
    if not df[col_name].empty:
        mode_value = df[col_name].mode()
        if not mode_value.empty:
            mode_column.loc[col_name, 'mode'] = mode_value.iloc[0]
        else:
            mode_column.loc[col_name, 'mode'] = None
    else:
        mode_column.loc[col_name, 'mode'] = None
df_info = df_info.merge(mode_column, left_index=True, right_index=True, how='left')

In [159]:
unique_len_column = pd.DataFrame(columns=['unique_len'], index=column_names)
for col_name in column_names:
    if not df[col_name].empty:
        unique_len_column.loc[col_name, 'unique_len'] = len([value for value in df[col_name].unique() if not pd.isna(value)])
    else:
        unique_len_column.loc[col_name, 'unique_len'] = 0
df_info = df_info.merge(unique_len_column, left_index=True, right_index=True, how='left')

In [160]:
df_type_column = pd.DataFrame(columns=['raw_column_type'], index=column_names)
for col_name in column_names:
  df_type_column.loc[col_name, 'raw_column_type'] = df[col_name].dtype

df_info = df_info.merge(df_type_column, left_index=True, right_index=True, how='left')

In [161]:
df_info = df_info.merge(pd.DataFrame(df.describe()).T, left_index=True, right_index=True, how='left')

In [162]:
df_info

,Description,NaN,mode,unique_len,raw_column_type,count,mean,std,min,25%,50%,75%,max
acc_now_delinq,The number of accounts on which the borrower i...,30.0,0.0,2,float64,42506.0,0.000094,0.009700,0.0,0.0,0.0,0.0,1.0
acc_open_past_24mths,Number of trades opened in past 24 months.,42536.0,None,0,float64,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
addr_state,The state provided by the borrower in the loan...,1.0,CA,50,object,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
all_util,Balance to credit limit on all trades,42536.0,None,0,float64,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
annual_inc,The self-reported annual income provided by th...,5.0,60000.0,5597,float64,42531.0,69136.556420,64096.349719,1896.0,40000.0,59000.0,82500.0,6000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
verification_status,"Indicates if income was verified by LC, not ve...",1.0,Not Verified,3,object,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
verified_status_joint,Indicates if the co-borrowers' joint income wa...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zip_code,The first 3 numbers of the zip code provided b...,1.0,100xx,837,object,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,* Employer Title replaces Employer Name for al...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

###Wyświetlenie Loan Status

Charged Off to status długu uznawanego za nieściągalny po 180 dniach braku płatności, ale nie oznacza umorzenia długu. Odpisanie długu wpływa negatywnie na historię kredytową i zdolność kredytową pożyczkobiorcy. Mimo spłaty długu, status Charged Off pozostaje w raporcie kredytowym przez siedem lat, choć może zostać zmieniony na "odpis opłacony" lub "odpis rozliczony". W praktyce, wiele osób spłaciło dług, ale nadal ma status Charged Off.

In [163]:
df_info.loc["settlement_status"]['Description']

'The status of the borrower’s settlement plan. Possible values are: COMPLETE, ACTIVE, BROKEN, CANCELLED, DENIED, DRAFT'

In [164]:
df.settlement_status.unique()

array([nan, 'COMPLETE', 'BROKEN', 'ACTIVE'], dtype=object)

In [165]:
df_info.loc["loan_status"]['Description']

'Current status of the loan'

In [166]:
df.loan_status.unique()

array(['Fully Paid', 'Charged Off', nan,
       'Does not meet the credit policy. Status:Fully Paid',
       'Does not meet the credit policy. Status:Charged Off'],
      dtype=object)

In [167]:
df["loan_status"] = df["loan_status"].replace(
    {"Does not meet the credit policy. Status:Fully Paid": "Fully Paid",
     "Does not meet the credit policy. Status:Charged Off": "Charged Off"})

In [168]:
df[(df.loan_status == 'Charged Off') & (df.settlement_status == "COMPLETE")].shape[0]

142

Wynika z tego, że są 142 wyniki z loan_status == Charged Off wraz z settlement_status == COMPLETE.

W dalszej części zmieniamy wynik Charged Off na Fully Paid dla takich wpisów.

In [169]:
df.loc[df['settlement_status'] == "COMPLETE", 'loan_status'] = "Fully Paid"

In [170]:
df['loan_status'].value_counts()

Fully Paid     36246
Charged Off     6289
Name: loan_status, dtype: int64

###Usunięcie kolumn które zawierają informacje z przyszłości, niedostępne w momencie udzielania pożyczki

In [171]:
future_data = df[["mths_since_last_delinq", "last_pymnt_d",
                      "collection_recovery_fee", "recoveries", "issue_d",
                      "total_rec_late_fee", "total_rec_prncp", "funded_amnt",
                      "funded_amnt_inv", "last_fico_range_high",
                      "last_fico_range_low", "debt_settlement_flag"]]
selected_columns = future_data.columns
df.drop(columns=selected_columns, inplace=True, axis=1, errors='ignore')

###Usunięcie kolumn ze zbędnymi informacjami

In [172]:
selected_columns = df_info[(df_info['NaN'] / df_raw.shape[0]) > 0.9].index.tolist()
df.drop(selected_columns, inplace=True, axis=1, errors='ignore')

###Usunięcie kolumn z tylko jedną unikalną wartością

In [173]:
selected_columns = df_info[df_info['unique_len'] < 2].index.tolist()
df.drop(selected_columns, inplace=True, axis=1, errors='ignore')

###Usunięcie kolumn typu 'object' o bardzo dużej liczbie wartości z niewielką licznością pojedynczej wartości

In [174]:
df_type_column['raw_column_type'].value_counts()

float64    120
object      31
Name: raw_column_type, dtype: int64

In [175]:
for col_name in df.columns.tolist():
  if df[col_name].dtype == 'object':
    value_counts = df[col_name].value_counts()
    if len(value_counts) > 0.2*df.shape[0] and value_counts.iloc[1] < 10:
      display(value_counts)
      print("\n" + "=" * 40)

1077501    1
538025     1
540325     1
540300     1
540270     1
          ..
770036     1
769217     1
770000     1
765994     1
70686      1
Name: id, Length: 42536, dtype: int64

========================================

https://lendingclub.com/browse/loanDetail.action?loan_id=1077501    1
https://lendingclub.com/browse/loanDetail.action?loan_id=538025     1
https://lendingclub.com/browse/loanDetail.action?loan_id=540325     1
https://lendingclub.com/browse/loanDetail.action?loan_id=540300     1
https://lendingclub.com/browse/loanDetail.action?loan_id=540270     1
                                                                   ..
https://lendingclub.com/browse/loanDetail.action?loan_id=770036     1
https://lendingclub.com/browse/loanDetail.action?loan_id=769217     1
https://lendingclub.com/browse/loanDetail.action?loan_id=770000     1
https://lendingclub.com/browse/loanDetail.action?loan_id=765994     1
https://lendingclub.com/browse/loanDetail.action?loan_id=70686      1
Name: url, Length: 42535, dtype: int64

========================================

In [176]:
selected_columns = {'url','id'}
df.drop(selected_columns, inplace=True, axis=1, errors='ignore')

###Przekształcenie wartości w kolumnach - usunięcie procentów, dodatkowych znaków, itd

In [177]:
df["revol_util"] = df["revol_util"].str[0:-1]
df["int_rate"] = df["int_rate"].str[0:-1]
df["revol_util"].astype(np.float64)
df["int_rate"].astype(np.float64)

df["zip_code"] = df["zip_code"].str[0:-2]

In [178]:
print("df after cleaning:", df.shape)

df after cleaning: (42536, 51)

In [179]:
selected_columns = df.columns.tolist()
for column_name in selected_columns:
    if column_name in df_info.index:
        description = df_info.loc[column_name, 'Description']
        print(f"{column_name} - {description}")
    else:
        print(f"Kolumna '{column_name}' nie istnieje w df_info.")

loan_amnt - The listed amount of the loan applied for by the borrower. If at some point in time, the credit department reduces the loan amount, then it will be reflected in this value.
term - The number of payments on the loan. Values are in months and can be either 36 or 60.
int_rate - Interest Rate on the loan
installment - The monthly payment owed by the borrower if the loan originates.
grade - LC assigned loan grade
sub_grade - LC assigned loan subgrade
emp_title - The job title supplied by the Borrower when applying for the loan.*
emp_length - Employment length in years. Possible values are between 0 and 10 where 0 means less than one year and 10 means ten or more years.
home_ownership - The home ownership status provided by the borrower during registration or obtained from the credit report. Our values are: RENT, OWN, MORTGAGE, OTHER
annual_inc - The self-reported annual income provided by the borrower during registration.
verification_status - Indicates if income was verified by LC, not verified, or if the income source was verified
loan_status - Current status of the loan
desc - Loan description provided by the borrower
purpose - A category provided by the borrower for the loan request.
title - The loan title provided by the borrower
zip_code - The first 3 numbers of the zip code provided by the borrower in the loan application.
addr_state - The state provided by the borrower in the loan application
dti - A ratio calculated using the borrower’s total monthly debt payments on the total debt obligations, excluding mortgage and the requested LC loan, divided by the borrower’s self-reported monthly income.
delinq_2yrs - The number of 30+ days past-due incidences of delinquency in the borrower's credit file for the past 2 years
earliest_cr_line - The month the borrower's earliest reported credit line was opened
fico_range_low - The lower boundary range the borrower’s FICO at loan origination belongs to.
fico_range_high - The upper boundary range the borrower’s FICO at loan origination belongs to.
inq_last_6mths - The number of inquiries in past 6 months (excluding auto and mortgage inquiries)
open_acc - The number of open credit lines in the borrower's credit file.
pub_rec - Number of derogatory public records
revol_bal - Total credit revolving balance
revol_util - Revolving line utilization rate, or the amount of credit the borrower is using relative to all available revolving credit.
total_acc - The total number of credit lines currently in the borrower's credit file
total_pymnt - Payments received to date for total amount funded
total_pymnt_inv - Payments received to date for portion of total amount funded by investors
total_rec_int - Interest received to date
last_pymnt_amnt - Last total payment amount received
last_credit_pull_d - The most recent month LC pulled credit for this loan
Kolumna 'verification_status_joint' nie istnieje w df_info.
acc_now_delinq - The number of accounts on which the borrower is now delinquent.
Kolumna 'total_rev_hi_lim' nie istnieje w df_info.
delinq_amnt - The past-due amount owed for the accounts on which the borrower is now delinquent.
pub_rec_bankruptcies - Number of public record bankruptcies
tax_liens - Number of tax liens
Kolumna 'revol_bal_joint' nie istnieje w df_info.
Kolumna 'sec_app_fico_range_low' nie istnieje w df_info.
Kolumna 'sec_app_fico_range_high' nie istnieje w df_info.
Kolumna 'sec_app_earliest_cr_line' nie istnieje w df_info.
Kolumna 'sec_app_inq_last_6mths' nie istnieje w df_info.
Kolumna 'sec_app_mort_acc' nie istnieje w df_info.
Kolumna 'sec_app_open_acc' nie istnieje w df_info.
Kolumna 'sec_app_revol_util' nie istnieje w df_info.
Kolumna 'sec_app_num_rev_accts' nie istnieje w df_info.
Kolumna 'sec_app_chargeoff_within_12_mths' nie istnieje w df_info.
Kolumna 'sec_app_collections_12_mths_ex_med' nie istnieje w df_info.
Kolumna 'sec_app_mths_since_last_major_derog' nie istnieje w df_info.

###Analiza brakujących wartości wraz z ich uzupełnieniem/usunięciem przy wzięciu pod uwagę pewnych ustalonych kryteriów

####"pub_rec"

In [180]:
#Wypełnianie zerami wpisów, w których zmienna pubrec nie zawera informacji o
#negatywnych wpisach w rejestrze publicznym
df["pub_rec"].fillna(0, inplace=True)

####"pub_rec_bankruptcies"

In [181]:
#Wypełnienie zerami kolumny nt. bankructw wpisanych do rejestru publicznego
df["pub_rec_bankruptcies"].fillna(0, inplace=True)

#### "emp_length"

In [182]:
#Uzupełnianie pustych wartości modą
df['emp_length'].fillna(df['emp_length'].mode().iloc[0], inplace=True)

#### "emp_title"

In [183]:
#Z racji dużej ilości pustych wpisów tej cechy, oraz fakt, że jest to zmienna
#typu 'object' oraz ma dużo unikalnych wartości to postanawiam tą zmienną usunąć
display_info(df, ['emp_title'], df_info)
df.drop('emp_title', inplace=True, axis=1)

Column Name: emp_title
Description: The job title supplied by the Borrower when applying for the loan.*

Statistics:
count       39909
unique      30658
top       US Army
freq          139
Name: emp_title, dtype: object

Value counts:
US Army                             139
Bank of America                     115
IBM                                  72
Kaiser Permanente                    61
AT&T                                 61
                                   ...
Regional Elite Airlines Services      1
Mass General Medical Group            1
Kontera                               1
Southeast Georgia Health ystem        1
Homemaker                             1
Name: emp_title, Length: 30658, dtype: int64

Unique values:
[nan 'Ryder' 'AIR RESOURCES BOARD' ... 'Tanks Tavern'
 'Halping hands company inc.' 'Homemaker']

Mode:
0    US Army
Name: emp_title, dtype: object

NaN count: 2627

========================================

#### "open_acc"

In [184]:
display_info(df, ['open_acc'], df_info)
#Uzupełnianie pustych wartości modą
df["open_acc"].fillna(df["open_acc"].mode().iloc[0], inplace=True)

Column Name: open_acc
Description: The number of open credit lines in the borrower's credit file.

Statistics:
count    42506.000000
mean         9.343951
std          4.496274
min          1.000000
25%          6.000000
50%          9.000000
75%         12.000000
max         47.000000
Name: open_acc, dtype: float64

Value counts:
7.0     4252
8.0     4176
6.0     4172
9.0     3922
10.0    3386
5.0     3368
11.0    2944
4.0     2508
12.0    2398
13.0    2060
3.0     1608
14.0    1597
15.0    1290
16.0    1022
17.0     812
2.0      692
18.0     588
19.0     442
20.0     335
21.0     276
22.0     170
23.0     121
24.0      87
25.0      63
26.0      40
1.0       39
27.0      29
28.0      29
30.0      17
29.0      16
31.0      13
34.0       8
32.0       6
33.0       5
35.0       4
36.0       2
38.0       2
37.0       1
46.0       1
39.0       1
42.0       1
41.0       1
44.0       1
47.0       1
Name: open_acc, dtype: int64

Unique values:
[ 3.  2. 10. 15.  9.  7.  4. 11. 14. 12. 20.  8.  6. 17.  5. 13. 16. 30.
 21. 18. 19. 27. 23. 34. 25. 22. 24. 26. 32. 28. 29. 33. 31. 39. 35. 36.
 38. 44. 41. 42. nan  1. 46. 37. 47.]

Mode:
0    7.0
Name: open_acc, dtype: float64

NaN count: 30

========================================

#### "purpose"

In [185]:
display_info(df, ['purpose'], df_info)
df["purpose"].fillna(df["purpose"].mode().iloc[0], inplace=True)

Column Name: purpose
Description: A category provided by the borrower for the loan request.

Statistics:
count                  42535
unique                    14
top       debt_consolidation
freq                   19776
Name: purpose, dtype: object

Value counts:
debt_consolidation    19776
credit_card            5477
other                  4425
home_improvement       3199
major_purchase         2311
small_business         1992
car                    1615
wedding                1004
medical                 753
moving                  629
house                   426
educational             422
vacation                400
renewable_energy        106
Name: purpose, dtype: int64

Unique values:
['credit_card' 'car' 'small_business' 'other' 'wedding'
 'debt_consolidation' 'home_improvement' 'major_purchase' 'medical'
 'moving' 'vacation' 'house' 'renewable_energy' 'educational' nan]

Mode:
0    debt_consolidation
Name: purpose, dtype: object

NaN count: 1

========================================

#### "revol_util"

In [186]:
display_info(df, ['revol_util'], df_info)
df["revol_util"].fillna(df["revol_util"].mode().iloc[0], inplace=True)

Column Name: revol_util
Description: Revolving line utilization rate, or the amount of credit the borrower is using relative to all available revolving credit.

Statistics:
count     42445
unique     1119
top           0
freq       1070
Name: revol_util, dtype: object

Value counts:
0        1070
40.7       65
0.2        64
63         63
66.6       62
         ...
21.59       1
39.95       1
0.01        1
17.67       1
105.7       1
Name: revol_util, Length: 1119, dtype: int64

Unique values:
['83.7' '9.4' '98.5' ... '103.5' '105.3' '105.7']

Mode:
0    0
Name: revol_util, dtype: object

NaN count: 91

========================================

#### "last_credit_pull_d"

In [187]:
display_info(df, ['last_credit_pull_d'], df_info)
df["last_credit_pull_d"].fillna(df["last_credit_pull_d"].mode().iloc[0], inplace=True)

Column Name: last_credit_pull_d
Description: The most recent month LC pulled credit for this loan

Statistics:
count        42531
unique         133
top       Aug-2018
freq          9248
Name: last_credit_pull_d, dtype: object

Value counts:
Aug-2018    9248
Oct-2016    4071
Jul-2018    1233
May-2018     734
Feb-2017     709
            ...
Feb-2008       2
Dec-2007       2
Jun-2008       1
Jul-2008       1
Jul-2007       1
Name: last_credit_pull_d, Length: 133, dtype: int64

Unique values:
['Aug-2018' 'Oct-2016' 'Jun-2017' 'Apr-2016' 'Apr-2018' 'Feb-2017'
 'Sep-2016' 'Dec-2014' 'Dec-2016' 'Mar-2018' 'Aug-2013' 'Apr-2017'
 'Sep-2017' 'May-2014' 'Jul-2015' 'Feb-2016' 'Jun-2016' 'Jan-2018'
 'Mar-2014' 'Sep-2012' 'Jan-2015' 'Jul-2018' 'Jan-2017' 'Jun-2018'
 'Dec-2015' 'Jun-2012' 'Nov-2017' 'Mar-2015' 'Sep-2014' 'Jan-2016'
 'Mar-2017' 'Apr-2014' 'Oct-2014' 'Feb-2018' 'Feb-2014' 'Feb-2013'
 'Nov-2015' 'Jul-2014' 'Dec-2012' 'Jul-2017' 'Oct-2017' 'Dec-2017'
 'May-2018' 'Jul-2016' 'Jun-2015' 'Feb-2012' 'Nov-2013' 'Nov-2016'
 'Oct-2015' 'May-2016' 'Apr-2012' 'Aug-2017' 'Sep-2015' 'Mar-2016'
 'May-2013' 'Aug-2015' 'Jun-2014' 'Aug-2012' 'Sep-2013' 'Jan-2012'
 'Aug-2014' 'Oct-2013' 'May-2017' 'May-2012' 'Aug-2016' 'Jul-2012'
 'Jan-2014' 'Oct-2012' 'Jun-2013' 'Dec-2013' 'Nov-2014' 'Apr-2015'
 'Apr-2013' 'Nov-2012' 'Mar-2013' 'May-2015' 'Feb-2015' 'Jul-2013'
 'Mar-2012' 'Nov-2011' 'Dec-2011' 'Jan-2013' 'Oct-2011' 'Sep-2011'
 'Aug-2011' 'Jul-2011' 'Jun-2011' 'May-2011' 'Apr-2011' 'Mar-2011'
 'Feb-2011' 'Jan-2011' 'Dec-2010' 'Nov-2010' 'Oct-2010' nan 'Sep-2010'
 'Aug-2010' 'Jul-2010' 'Jun-2010' 'May-2010' 'Apr-2010' 'Mar-2010'
 'Feb-2010' 'Aug-2007' 'Jan-2010' 'Dec-2009' 'Nov-2009' 'Oct-2009'
 'Sep-2009' 'Jul-2009' 'Aug-2009' 'May-2009' 'Jun-2009' 'Apr-2009'
 'Mar-2009' 'Feb-2009' 'Dec-2008' 'Jan-2009' 'Jun-2008' 'Sep-2008'
 'Aug-2008' 'Mar-2008' 'Oct-2008' 'Feb-2008' 'Jan-2008' 'Dec-2007'
 'Jul-2008' 'Oct-2007' 'Sep-2007' 'Jun-2007' 'May-2007' 'Jul-2007'
 'Nov-2007']

Mode:
0    Aug-2018
Name: last_credit_pull_d, dtype: object

NaN count: 5

========================================

#### "annual_inc"

In [188]:
display_info(df, ['annual_inc'], df_info)
df["annual_inc"].fillna(df["annual_inc"].mode().iloc[0], inplace=True)

Column Name: annual_inc
Description: The self-reported annual income provided by the borrower during registration.

Statistics:
count    4.253100e+04
mean     6.913656e+04
std      6.409635e+04
min      1.896000e+03
25%      4.000000e+04
50%      5.900000e+04
75%      8.250000e+04
max      6.000000e+06
Name: annual_inc, dtype: float64

Value counts:
60000.0     1591
50000.0     1119
40000.0      935
45000.0      898
30000.0      884
            ...
108820.0       1
85634.0        1
126996.0       1
57110.0        1
6500.0         1
Name: annual_inc, Length: 5597, dtype: int64

Unique values:
[24000. 30000. 12252. ...  7280. 66624.  6500.]

Mode:
0    60000.0
Name: annual_inc, dtype: float64

NaN count: 5

========================================

#### "loan_amnt"

In [189]:
display_info(df, ['loan_amnt'], df_info)
df["loan_amnt"].fillna(df["loan_amnt"].mode().iloc[0], inplace=True)

Column Name: loan_amnt
Description: The listed amount of the loan applied for by the borrower. If at some point in time, the credit department reduces the loan amount, then it will be reflected in this value.

Statistics:
count    42535.000000
mean     11089.722581
std       7410.938391
min        500.000000
25%       5200.000000
50%       9700.000000
75%      15000.000000
max      35000.000000
Name: loan_amnt, dtype: float64

Value counts:
10000.0    3016
12000.0    2439
5000.0     2260
6000.0     2037
15000.0    2012
           ...
10350.0       1
19100.0       1
17975.0       1
31150.0       1
20425.0       1
Name: loan_amnt, Length: 898, dtype: int64

Unique values:
[ 5000.  2500.  2400. 10000.  3000.  7000.  5600.  5375.  6500. 12000.
  9000.  1000.  3600.  6000.  9200. 20250. 21000. 15000.  4000.  8500.
  4375. 31825. 12400. 10800. 12500.  9600.  4400. 14000. 11000. 25600.
 16000.  7100. 13000. 17500. 17675.  8000.  3500. 16425.  8200. 20975.
  6400. 14400.  7250. 18000. 35000. 11800.  4500. 10500. 15300. 20000.
  6200.  7200.  9500. 18825. 24000.  2100.  5500. 26800. 25000. 19750.
 13650. 28000. 10625.  8850.  6375. 11100.  4200.  8875. 13500. 21600.
  8450. 13475. 22000.  7325.  7750. 13350. 22475.  8400. 13250.  7350.
 11500. 29500.  2000. 11625. 15075.  5300.  8650.  7400. 24250. 26000.
  1500. 19600.  4225. 16500. 15600. 14125. 13200. 12300.  1400.  3200.
 11875.  1800. 23200.  4800.  7300. 10400.  6600. 30000.  4475.  6300.
  8250.  9875. 21500.  7800.  9750. 15550. 17000.  7500.  5800.  8050.
  5400.  4125.  9800. 15700.  9900.  6250. 10200. 23000. 25975. 21250.
 33425.  8125. 18800. 19200. 12875.  2625. 11300.  4100. 18225. 18500.
 16800.  2200. 14050. 16100. 10525. 19775. 14500. 11700.  4150. 12375.
  1700. 22250. 11200. 22500. 15900.  3150. 18550.  8575.  7700. 24500.
 22200. 21400.  9400. 16950. 22400.  5825.  7650. 20675. 27050. 20500.
 12800. 27575.  7600. 29000.  9575. 14575.  7125. 10700. 10375.  3050.
 27000. 28625. 14100. 20050. 24925. 13600. 26400.  7150. 32000. 15500.
 17475.  2250. 17050.  3250. 22750.  1200.  5900. 12600.  6750. 17250.
 19075. 17200. 13225. 11775. 16400. 10075.  9350.  8075. 15625. 20125.
  8300.  2425.  6950.  5350.  5875.  9450. 19000. 20400. 21650. 20300.
  2300. 24575.  5850.  4750.  5275.  9175. 34475. 10050. 19400. 18200.
  8800. 34000. 19500.  5200. 11900. 29100. 25850.  3300. 12200. 22575.
  7175. 18250. 16750. 12950.  6350. 14750.  6625.  6900. 18650.  9250.
 22800. 27300. 12250.  4350. 21200.  2700.  6025.  3825.  5325. 14150.
  1600.  2800. 18975.  2575.  5450.  3800.  2125. 14650. 11250. 31000.
  6075.  8475.  3625. 31300.  4250. 12650. 27600. 13150.  4300. 10275.
 23600.  7875. 14550.  9925. 15850.  1325.  6325. 29700. 15200. 28100.
 15250.  6800. 11325. 13975. 13800.  3100.  3975. 25450.  3575. 33600.
 23700. 28200.  6475. 27700. 17375. 15800. 17625. 16675.  5250. 22950.
  1950.  4650. 10250.  6100.  8325.  4850.  9425. 12700. 25475. 14850.
 14300. 33000.  5150. 21625.  3775. 21575. 16250.  8375. 18725. 11125.
  3525. 19800.  9300. 19125.  5575.  1450. 12900. 10150. 20450. 23500.
 16600.  1300.  6925. 14675. 11550. 17400.  1100.  3400. 12775.  5050.
 12100. 26375.  6975. 26300.  3125. 23325. 11600.  5100. 10175. 18400.
 30750. 16550.  5650. 16450. 18950.  3650. 33950. 10125. 16775.  5700.
 20200. 10600.  3725. 19425. 25900. 23800.  4025.  2600.  8900. 10900.
 17600. 14825.  7925. 14950.  6700.  8600.  1925. 30500.  4900. 15575.
  3175. 14800. 32275.  5750. 14600. 25200.  6550. 30400. 22900.  6850.
  4600. 11425. 29850. 10675.  6650. 10775. 17325. 27250.  3700.  6450.
 20800. 13575. 29275.  4725. 24800. 15750. 17100. 15875. 10925.  4950.
 10575.  2850. 32875. 21100. 11050. 20375.  9325.  9375.  7475. 22125.
 27525. 25500. 17750.  8675.  7450. 24625. 17900. 12075.  6725. 24400.
  5225. 14075. 17175.  9475.  9975. 20900. 12150. 17725. 15350.  4925.
  4550. 18750. 15125. 10950. 12475.  2750.  4625. 12175.  7575. 23525.
 12350. 17950.  9525.  8975. 11975. 12850. 19850. 21850.  4425. 32250.
  2550. 11400. 21725. 23100. 13700.  9950. 21750. 13750. 12025. 23400.
 14975. 19700. 27500.  3900. 14725. 17800.  5175. 15025. 29550. 23850.
 31500.  9100. 27400. 23675.  9825. 16200. 11650. 18875. 29175.  3950.
  2050. 19950. 12750. 24375.  2875. 25875. 16275. 10300. 17450.  3450.
  1825. 13100. 23275.  8700.  3675.  8150. 23975.  3350.  7075.  8625.
 31800. 26200. 34675. 11025.  7850. 14175.  9150. 19925. 14275. 25400.
 17825. 16875. 21800. 14475. 14225. 10225. 10650. 12725. 31400.  1550.
 31700. 31200.  1875. 16300. 12550. 11725. 22600. 26500.  6225.  4450.
  3875. 13275. 34525. 31025.  6775. 19450.  2900.  2450. 27200. 21300.
  4700.  7425. 19575. 31150. 19100. 30100. 24600. 32350.  1900. 29300.
  2350. 15950. 13300.  2975. 28250.  8100. 28600.  6425.  4050. 23450.
 32400. 13675. 21350.  9050.  2675.  5025.  5950. 12625. 29800.  1750.
 10825. 24700. 13125.  6125. 26850. 28800.  7275.  6825. 14775. 10975.
 20950.  3850. 28500. 31325. 11750. 15825.  7525.  3550.  7950. 13400.
  3375.  1250. 29600. 22350.  1850. 17850. 17875.  7550.  6175. 30800.
 21125. 30225.  3750. 10025. 14350.  7775. 33500. 18900.  8025.  5125.
 13775.  3075. 29900. 12050. 11525.  5550.  5975. 32500. 22100. 25300.
 14700.  3325.  5075.  5625. 27175. 11575. 16325. 24200. 15050.  5425.
 17700. 12450. 19725. 19550.  3025. 22875. 23075. 15450. 10750.  4325.
  3275.  8175. 20700.  1775.  4775.  8225.  4575. 15775. 19475. 14200.
 21225. 17225. 12425.  7900. 14525.  2650.  8275. 13325. 30600.  6275.
  4075.  1625.  1275. 13075. 23750. 24650. 14250.  8825.  5775.  8350.
 19150.  9725. 18575.  8725. 16050. 26250. 16075.  6150.  8750. 11075.
 10875. 16350.  2275.  3925. 11375.  4275. 18325.  9650.  2725. 10425.
  6575.  2075. 13175.  9550. 12675. 15425. 18300. 18600.  5525. 10550.
 22325. 15175. 12225. 12525. 28750. 15650. 11450. 23350.  1525. 31725.
 13625. 32775. 20600.  8550. 15975.  9775. 13425.  1050.  2950. 12925.
 29375. 12325.  9075.  1350. 21700. 15400.  4975. 11275.  7725.  9225.
  2325. 13725.  8775. 19250. 14900. 34800. 17300.  9700.  2150. 10100.
 10350.  2825. 17975.  1650. 15275.  7975.  2925.  2525.  2225.  5725.
 23425.  4875.  2475.  3425. 16700.  2775. 13050. 34200.  5925. 26025.
 16225.  9275. 11350. 21450. 10850.  7225.  1425.  5475. 19300.  7050.
 24175.  1225. 13850. 32525. 17075.  1375.  1675. 18275.  9125. 33250.
 16525. 11850. 22300.  2375.  7675.  8525. 31050.  4525.  7025. 14625.
 13375.  4675. 25375. 24975. 12825. 18150. 18050.  9850. 14875. 17425.
 16725. 13550.  9625. 15150. 19875.  1475. 22650. 17150.  6875.  7375.
  5675.  7625.  6525.  3225.  6675.  1075. 15675. 17275. 11475. 12975.
 15325.  1125.  8950. 11675. 12275.  3475. 21425. 18125. 23050. 11175.
 10450. 21825. 10475. 20150. 24750. 13900.  4175. 24100. 17925. 24150.
 19975. 19900. 13950. 12125. 11225. 23475. 19650. 13450. 10725.  1150.
 20475. 17525.   500.   725. 23575.   700.   950. 19275.   900.   750.
 17350.   800. 10325. 13025. 22550.    nan 24950.  1025.   600. 13925.
 20825. 15100. 22725.  6050.   925.   550. 13525.   850. 20425.]

Mode:
0    10000.0
Name: loan_amnt, dtype: float64

NaN count: 1

========================================

#### "loan_status"

In [190]:
display_info(df, ['loan_status'], df_info)
df["loan_status"].fillna(df["loan_status"].mode().iloc[0], inplace=True)

Column Name: loan_status
Description: Current status of the loan

Statistics:
count          42535
unique             2
top       Fully Paid
freq           36246
Name: loan_status, dtype: object

Value counts:
Fully Paid     36246
Charged Off     6289
Name: loan_status, dtype: int64

Unique values:
['Fully Paid' 'Charged Off' nan]

Mode:
0    Fully Paid
Name: loan_status, dtype: object

NaN count: 1

========================================

#### "fico_range_low"

In [191]:
display_info(df, ['fico_range_low'], df_info)
df["fico_range_low"].fillna(df["fico_range_low"].mode().iloc[0], inplace=True)

Column Name: fico_range_low
Description: The lower boundary range the borrower’s FICO at loan origination belongs to.

Statistics:
count    42535.000000
mean       713.052545
std         36.188439
min        610.000000
25%        685.000000
50%        710.000000
75%        740.000000
max        825.000000
Name: fico_range_low, dtype: float64

Value counts:
685.0    2310
700.0    2267
680.0    2228
695.0    2202
690.0    2196
675.0    1994
705.0    1970
720.0    1949
715.0    1891
725.0    1891
670.0    1854
665.0    1821
710.0    1771
730.0    1670
735.0    1653
660.0    1584
740.0    1490
745.0    1319
750.0    1294
755.0    1100
760.0     984
770.0     799
765.0     792
775.0     654
780.0     573
790.0     422
785.0     406
795.0     338
800.0     256
805.0     193
650.0     131
655.0     127
810.0     125
645.0     112
640.0     102
815.0      28
820.0      19
630.0       6
635.0       5
825.0       3
625.0       2
610.0       2
620.0       1
615.0       1
Name: fico_range_low, dtype: int64

Unique values:
[735. 740. 690. 695. 730. 660. 675. 725. 710. 705. 720. 665. 670. 760.
 685. 755. 680. 700. 790. 750. 715. 765. 745. 770. 780. 775. 795. 810.
 800. 815. 785. 805. 825. 820. 630. 625.  nan 650. 655. 645. 640. 635.
 610. 620. 615.]

Mode:
0    685.0
Name: fico_range_low, dtype: float64

NaN count: 1

========================================

#### "fico_range_high"

In [192]:
display_info(df, ['fico_range_high'], df_info)
df["fico_range_high"].fillna(df["fico_range_high"].mode().iloc[0], inplace=True)

Column Name: fico_range_high
Description: The upper boundary range the borrower’s FICO at loan origination belongs to.

Statistics:
count    42535.000000
mean       717.052545
std         36.188439
min        614.000000
25%        689.000000
50%        714.000000
75%        744.000000
max        829.000000
Name: fico_range_high, dtype: float64

Value counts:
689.0    2310
704.0    2267
684.0    2228
699.0    2202
694.0    2196
679.0    1994
709.0    1970
724.0    1949
719.0    1891
729.0    1891
674.0    1854
669.0    1821
714.0    1771
734.0    1670
739.0    1653
664.0    1584
744.0    1490
749.0    1319
754.0    1294
759.0    1100
764.0     984
774.0     799
769.0     792
779.0     654
784.0     573
794.0     422
789.0     406
799.0     338
804.0     256
809.0     193
654.0     131
659.0     127
814.0     125
649.0     112
644.0     102
819.0      28
824.0      19
634.0       6
639.0       5
829.0       3
629.0       2
614.0       2
624.0       1
619.0       1
Name: fico_range_high, dtype: int64

Unique values:
[739. 744. 694. 699. 734. 664. 679. 729. 714. 709. 724. 669. 674. 764.
 689. 759. 684. 704. 794. 754. 719. 769. 749. 774. 784. 779. 799. 814.
 804. 819. 789. 809. 829. 824. 634. 629.  nan 654. 659. 649. 644. 639.
 614. 624. 619.]

Mode:
0    689.0
Name: fico_range_high, dtype: float64

NaN count: 1

========================================

####fico_range_low oraz fico_range_high

In [193]:
df[['fico_range_low','fico_range_high']].corr()

                 fico_range_low  fico_range_high
fico_range_low              1.0              1.0
fico_range_high             1.0              1.0

In [194]:
#Te wartości sa mocno skorelowane więc zamiast dwóch kolumn tworzę jedną z ich średnich
df['fico_mean'] = (df.fico_range_low + df.fico_range_high) / 2
df.drop(['fico_range_low', 'fico_range_high'], axis=1, inplace=True)

###Uzupełnienie modą pozostałych kolumn o NaN < 10

In [195]:
mask = df.isna()
naan_counts_columns = [(mask[column] == True).sum() for column in df.columns]
naan_column = pd.DataFrame([naan_counts_columns], columns=df.columns, index=['NaN'])
display(naan_column)

,loan_amnt,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_inc,verification_status,loan_status,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,total_pymnt,total_pymnt_inv,total_rec_int,last_pymnt_amnt,last_credit_pull_d,verification_status_joint,acc_now_delinq,total_rev_hi_lim,delinq_amnt,pub_rec_bankruptcies,tax_liens,revol_bal_joint,sec_app_fico_range_low,sec_app_fico_range_high,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,fico_mean
NaN,0,1,1,1,1,1,0,1,0,1,0,13294,0,14,1,1,1,30,30,30,0,0,1,0,30,1,1,1,1,0,42536,30,42536,30,0,106,42536,42536,42536,42536,42536,42536,42536,42536,42536,42536,42536,42536,0

In [213]:
selected_columns = [col_name for col_name in naan_column.columns if ((naan_column[col_name] > 0) & (naan_column[col_name] < 10)).all()]
for col_name in selected_columns:
    if df[col_name].dtype == 'object':
        df[col_name].fillna(df[col_name].mode().iloc[0], inplace=True)
    elif df[col_name].dtype == np.float64:
        df[col_name].fillna(df[col_name].mean(), inplace=True)

In [196]:
selected_columns = [col_name for col_name in naan_column.columns if ((naan_column[col_name] > 10) & (naan_column[col_name] < 0.1*df.shape[0])).all()]

####"title"

In [197]:
display_info(df, ["title"], df_info)
df.drop("title", inplace=True, axis=1, errors='ignore')

Column Name: title
Description: The loan title provided by the borrower

Statistics:
count                  42522
unique                 21264
top       Debt Consolidation
freq                    2259
Name: title, dtype: object

Value counts:
Debt Consolidation                  2259
Debt Consolidation Loan             1760
Personal Loan                        708
Consolidation                        547
debt consolidation                   532
                                    ...
CitiCard PayOff                        1
Taxes Loan                             1
Blazing in 5 years                     1
I was scammed and now recovering       1
Aroundthehouse                         1
Name: title, Length: 21264, dtype: int64

Unique values:
['Computer' 'bike' 'real estate business' ... 'delight' 'Car repair bill'
 'Aroundthehouse']

Mode:
0    Debt Consolidation
Name: title, dtype: object

NaN count: 14

========================================

####"delinq_2yrs"

####"earliest_cr_line"

In [198]:
display_info(df, ["earliest_cr_line"], df_info)
df["earliest_cr_line"].fillna(df["earliest_cr_line"].mode().iloc[0], inplace=True)

Column Name: earliest_cr_line
Description: The month the borrower's earliest reported credit line was opened

Statistics:
count        42506
unique         530
top       Oct-1999
freq           393
Name: earliest_cr_line, dtype: object

Value counts:
Oct-1999    393
Nov-1998    390
Oct-2000    370
Dec-1998    366
Dec-1997    348
           ...
Jul-1964      1
Mar-1963      1
Nov-1965      1
Apr-1966      1
Nov-1959      1
Name: earliest_cr_line, Length: 530, dtype: int64

Unique values:
['Jan-1985' 'Apr-1999' 'Nov-2001' 'Feb-1996' 'Jan-1996' 'Nov-2004'
 'Jul-2005' 'Jan-2007' 'Apr-2004' 'Sep-2004' 'Jan-1998' 'Oct-1989'
 'Jul-2003' 'May-1991' 'Sep-2007' 'Oct-1998' 'Aug-1993' 'Oct-2003'
 'Jan-2001' 'Nov-1997' 'Feb-1983' 'Jul-1985' 'Apr-2003' 'Jun-2001'
 'Feb-2002' 'Aug-1984' 'Nov-2006' 'Dec-1987' 'Nov-1981' 'Feb-1997'
 'Apr-2005' 'Oct-2007' 'Dec-2000' 'Apr-2007' 'Dec-2001' 'Jan-2003'
 'Mar-1994' 'Sep-1998' 'Jun-2004' 'Nov-1995' 'Jul-1999' 'Jun-1995'
 'Sep-1992' 'Jan-2002' 'Apr-1992' 'Oct-2006' 'May-2000' 'Dec-1998'
 'Dec-2004' 'Oct-2000' 'May-2002' 'May-2006' 'Jul-2002' 'Jul-2006'
 'May-1997' 'Oct-2005' 'Apr-1995' 'Oct-2002' 'Jan-2000' 'Apr-2000'
 'Dec-1994' 'Sep-2005' 'Dec-1984' 'Dec-1999' 'Nov-2003' 'Jun-1989'
 'Jun-2003' 'Oct-1996' 'May-2003' 'Jun-2002' 'Jun-2007' 'Dec-1996'
 'Feb-1984' 'Sep-2002' 'Jan-1986' 'May-1998' 'Jan-1997' 'Jun-2005'
 'Feb-1990' 'Mar-2004' 'Jul-1995' 'Aug-1994' 'Jun-1992' 'Mar-1997'
 'Apr-2006' 'Apr-1990' 'Aug-1999' 'Sep-2000' 'Feb-2001' 'Dec-1988'
 'Feb-1999' 'Dec-1991' 'Aug-2000' 'Oct-2004' 'Aug-2004' 'Feb-2005'
 'Nov-2005' 'Nov-2000' 'May-2007' 'Jan-1991' 'Jun-2000' 'Aug-2006'
 'Dec-2002' 'Jun-1993' 'Jun-2006' 'Feb-2004' 'Dec-1990' 'Mar-2000'
 'Feb-1995' 'Jul-2001' 'Apr-2002' 'Sep-2006' 'May-1999' 'Aug-1998'
 'Dec-2005' 'May-2004' 'Oct-2001' 'Jun-1983' 'Mar-1986' 'Apr-1980'
 'Jul-2004' 'Jul-2008' 'May-1996' 'Jan-2004' 'Nov-2002' 'Aug-2002'
 'Aug-2001' 'Mar-1991' 'Sep-1989' 'Sep-1994' 'Sep-2003' 'Sep-1999'
 'Aug-2005' 'Dec-1986' 'Nov-1998' 'Feb-2006' 'May-1994' 'Nov-2007'
 'Feb-1993' 'Nov-1991' 'May-2005' 'Dec-1973' 'May-2001' 'Mar-1990'
 'Mar-1996' 'Oct-1979' 'Jun-1981' 'Mar-2001' 'Apr-2001' 'Jun-1999'
 'Nov-1993' 'Jan-2006' 'Dec-1997' 'Nov-1994' 'Jul-1997' 'Oct-1991'
 'Jun-1994' 'Mar-2006' 'Sep-1996' 'Apr-1991' 'Jul-1993' 'Jan-1995'
 'Sep-1987' 'Mar-2003' 'Oct-1999' 'Jul-1996' 'Dec-2003' 'Aug-1988'
 'Jan-1992' 'Mar-1998' 'Feb-2007' 'Aug-1982' 'Mar-1995' 'Dec-1992'
 'Jul-1998' 'Jul-1989' 'May-1990' 'Jul-1994' 'Sep-2001' 'Mar-1984'
 'Aug-2003' 'Nov-1999' 'Mar-2007' 'Mar-2008' 'Apr-1994' 'Jan-2005'
 'Jul-1986' 'Aug-1990' 'May-1992' 'Jul-2000' 'Mar-1988' 'May-1983'
 'Apr-1993' 'Jul-1978' 'Feb-2000' 'Dec-1981' 'Mar-1992' 'Jan-1981'
 'Sep-1990' 'Jun-1998' 'May-1993' 'Nov-1996' 'Mar-2002' 'Jan-1988'
 'Aug-1997' 'Aug-1987' 'Aug-2008' 'Oct-1994' 'Oct-1986' 'Feb-1994'
 'Jun-1996' 'Feb-1998' 'Nov-2008' 'Apr-1998' 'Jul-1979' 'Jan-1993'
 'May-1987' 'Jul-1971' 'Aug-2007' 'Jun-1997' 'Mar-1980' 'Dec-2006'
 'Jul-2007' 'Oct-1995' 'Jul-1991' 'Jul-1992' 'Dec-1972' 'Dec-1993'
 'Jan-1999' 'Feb-2003' 'Apr-1997' 'Dec-1995' 'Apr-1996' 'Jul-1990'
 'Mar-1970' 'Nov-1984' 'Apr-1984' 'Jul-1984' 'Aug-1995' 'Mar-1999'
 'Sep-1988' 'Mar-1989' 'Mar-1987' 'Oct-1997' 'Dec-1980' 'Jan-1994'
 'Sep-1995' 'Mar-2005' 'Jan-1989' 'Feb-1992' 'Jan-1990' 'Nov-1990'
 'Mar-1969' 'Jun-1975' 'Mar-1985' 'Dec-2007' 'Oct-1993' 'Dec-1989'
 'Sep-1980' 'Jun-1988' 'May-1978' 'Apr-1973' 'Aug-1989' 'Oct-1990'
 'Sep-1991' 'Feb-1982' 'Feb-1987' 'Nov-1985' 'Jan-1984' 'Jul-1988'
 'May-2008' 'Oct-1985' 'Mar-1983' 'Aug-1991' 'Sep-1986' 'Jun-1990'
 'Feb-1986' 'Sep-1997' 'Jun-1984' 'Sep-1981' 'Apr-1986' 'Aug-1979'
 'Aug-1980' 'Nov-1992' 'Sep-1993' 'Jun-1987' 'Sep-1982' 'Aug-1992'
 'Aug-1985' 'Jul-1983' 'Jun-1991' 'Dec-1983' 'Jan-1987' 'Nov-1978'
 'Oct-1984' 'Aug-1996' 'Nov-1989' 'Sep-1976' 'Nov-1986' 'Oct-1987'
 'Sep-2008' 'May-1977' 'May-1986' 'Mar-1981' 'Jan-1983' 'Nov-1976'
 'Sep-1979' 'Oct-1983' 'Sep-1962' 'Jun-1985' 'May-1982' 'Feb-1988'
 'Oct-1992' 'Aug-1983' 'Jun-1973' 'Apr-1985' 'Oct-1988' 'Oct-1981'
 'Sep-1968' 'Jul-1974' 'Nov-1987' 'May-1995' 'Feb-1991' 'Nov-1988'
 'Mar-1993' 'Jun-2008' 'Jul-1980' 'Dec-1982' 'Mar-1975' 'Feb-1980'
 'Apr-1988' 'Dec-1979' 'Sep-1985' 'Sep-1971' 'Mar-1978' 'Feb-2008'
 'Aug-1978' 'Nov-1970' 'Jun-1979' 'Jun-1980' 'Apr-1989' 'Sep-1983'
 'Feb-1989' 'Nov-1983' 'Jun-1986' 'Oct-1982' 'Aug-1986' 'Oct-1980'
 'May-1988' 'Dec-1985' 'Jan-1982' 'Sep-1977' 'Dec-1976' 'Apr-1982'
 'May-1984' 'Apr-2008' 'Feb-1979' 'Jan-2008' 'Sep-1964' 'Jul-1987'
 'Jan-1978' 'May-1989' 'Oct-1977' 'Dec-1975' 'Feb-1985' 'Oct-2008'
 'Nov-1982' 'May-1975' 'May-1985' 'Feb-1971' 'Jun-1977' 'Apr-1981'
 'May-1979' 'Jan-1972' 'Sep-1967' 'Apr-1978' 'Feb-1965' 'Apr-1983'
 'Nov-1975' 'Jun-1967' 'Mar-1974' 'Jul-1972' 'Aug-1967' 'Apr-1971'
 'Sep-1984' 'May-1981' 'Dec-1970' 'Oct-1973' 'Jan-1971' 'Dec-1963'
 'Apr-1974' 'Jan-1980' 'Aug-1969' 'Apr-1975' 'Jul-1977' 'Mar-1977'
 'Nov-1969' 'Jan-1976' 'Mar-1982' 'Apr-1987' 'Dec-1969' 'May-1974'
 'Aug-1974' 'Jun-1972' 'Mar-1963' 'Nov-1979' 'Aug-1975' 'Sep-1974'
 'Aug-1981' 'May-1973' 'Sep-1973' 'Mar-1973' 'Dec-1977' 'Oct-1976'
 'Jan-1974' 'Jan-1970' 'Aug-1968' 'Feb-1976' 'Jan-1975' 'Oct-1972'
 'Dec-1974' 'Feb-1973' 'Nov-1965' 'Mar-1972' 'Jun-1982' 'Jun-1974'
 'May-1965' 'Jun-1971' 'Oct-1970' 'Apr-1976' 'Oct-1971' 'Apr-1977'
 'Sep-1978' 'Oct-1978' 'Oct-1954' 'Feb-1981' 'Jan-1977' 'Aug-1977'
 'Dec-1978' 'Aug-1976' 'Jun-1968' 'Jun-1978' 'Jun-1969' 'May-1980'
 'Jan-1979' 'Oct-1965' 'Nov-1974' 'Apr-1966' 'Jun-1976' 'Feb-1972'
 'May-1976' 'Mar-1968' 'Mar-1976' 'Jul-1970' 'Mar-1979' 'Jul-1976'
 'Jul-1982' 'Sep-1965' 'Apr-1967' 'Oct-1963' 'Feb-1970' 'Jul-1973'
 'Feb-1978' 'Nov-1971' 'Aug-1972' 'Jul-1975' 'Sep-1970' 'Jul-1981'
 'Oct-1964' 'Sep-1972' 'May-1970' 'May-1963' 'Feb-1969' 'Nov-1980'
 'Jul-1967' 'Apr-1970' 'Nov-1977' 'Nov-1966' 'May-1971' 'Apr-1979'
 'May-1972' 'Feb-1968' 'Jul-1964' 'Nov-1967' 'Apr-1964' 'Feb-1975'
 'Jun-1959' 'Sep-1956' 'Jun-1966' 'Jan-1946' 'Mar-1966' 'Jan-1963'
 'Dec-1950' 'Jul-1969' 'Jan-1968' 'Nov-1973' 'Jun-1970' 'Feb-1977'
 'Feb-1974' 'Jan-1973' 'Feb-1966' 'Dec-1961' 'Aug-1973' 'Aug-1970'
 'Sep-1969' 'Sep-1975' 'Dec-1968' 'Nov-1954' 'Oct-1969' 'Dec-1965'
 'Apr-1972' 'Nov-1972' 'Sep-1963' 'Apr-1969' 'Nov-1962' 'Oct-1967'
 'May-1967' 'Nov-1961' 'Feb-1967' 'Nov-1968' 'Oct-1975' 'Mar-1971'
 'Aug-1971' 'Dec-1966' 'Oct-1968' 'Oct-1974' nan 'Nov-1963' 'Apr-1968'
 'May-1969' 'Nov-1959']

Mode:
0    Oct-1999
Name: earliest_cr_line, dtype: object

NaN count: 30

========================================

In [199]:
display_info(df, ["delinq_2yrs"], df_info)
df["delinq_2yrs"].fillna(df["delinq_2yrs"].mode().iloc[0], inplace=True)

Column Name: delinq_2yrs
Description: The number of 30+ days past-due incidences of delinquency in the borrower's credit file for the past 2 years

Statistics:
count    42506.000000
mean         0.152449
std          0.512406
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max         13.000000
Name: delinq_2yrs, dtype: float64

Value counts:
0.0     37771
1.0      3595
2.0       771
3.0       244
4.0        72
5.0        27
6.0        13
7.0         6
8.0         3
11.0        2
9.0         1
13.0        1
Name: delinq_2yrs, dtype: int64

Unique values:
[ 0.  2.  3.  1.  4.  6.  5.  8.  7.  9. 11. nan 13.]

Mode:
0    0.0
Name: delinq_2yrs, dtype: float64

NaN count: 30

========================================

####"inq_last_6mths"

In [200]:
display_info(df, ["inq_last_6mths"], df_info)
df["inq_last_6mths"].fillna(df["inq_last_6mths"].mode().iloc[0], inplace=True)

Column Name: inq_last_6mths
Description: The number of inquiries in past 6 months (excluding auto and mortgage inquiries)

Statistics:
count    42506.000000
mean         1.081424
std          1.527455
min          0.000000
25%          0.000000
50%          1.000000
75%          2.000000
max         33.000000
Name: inq_last_6mths, dtype: float64

Value counts:
0.0     19657
1.0     11247
2.0      5987
3.0      3182
4.0      1056
5.0       596
6.0       339
7.0       182
8.0       115
9.0        50
10.0       24
11.0       15
12.0       15
15.0        9
13.0        6
14.0        6
18.0        4
16.0        3
17.0        2
24.0        2
19.0        2
32.0        1
33.0        1
31.0        1
28.0        1
25.0        1
27.0        1
20.0        1
Name: inq_last_6mths, dtype: int64

Unique values:
[ 1.  5.  2.  0.  3.  4.  6.  7.  8. nan  9. 10. 11. 12. 15. 14. 33. 17.
 32. 24. 13. 18. 16. 31. 28. 25. 27. 20. 19.]

Mode:
0    0.0
Name: inq_last_6mths, dtype: float64

NaN count: 30

========================================

####"total_acc"

In [201]:
display_info(df, ["total_acc"], df_info)
df["total_acc"].fillna(df["total_acc"].mode().iloc[0], inplace=True)

Column Name: total_acc
Description: The total number of credit lines currently in the borrower's credit file

Statistics:
count    42506.000000
mean        22.124406
std         11.592811
min          1.000000
25%         13.000000
50%         20.000000
75%         29.000000
max         90.000000
Name: total_acc, dtype: float64

Value counts:
15.0    1552
16.0    1547
17.0    1543
14.0    1531
20.0    1504
        ...
74.0       1
77.0       1
78.0       1
72.0       1
90.0       1
Name: total_acc, Length: 83, dtype: int64

Unique values:
[ 9.  4. 10. 37. 38. 12. 11. 13.  3. 23. 34. 29. 28. 42. 14. 22. 21. 17.
  7. 31. 44. 26. 16.  6. 18. 27. 24. 25. 40. 35.  8. 20. 15. 19. 36. 51.
 32. 30. 33. 46.  5. 61. 56. 50. 41. 39. 79. 62. 43. 47. 53. 45. 60. 55.
 52. 58. 54. 57. 49. 63. 48. 59. 77. 87. 75. 72. 64. 67. 78. 76. 74. 66.
 81. 90. 80. 71. 69. 73. 70. 68. 65.  2. nan  1.]

Mode:
0    15.0
Name: total_acc, dtype: float64

NaN count: 30

========================================

####"acc_now_delinq"

In [202]:
display_info(df, ["acc_now_delinq"], df_info)
df.drop("acc_now_delinq", inplace=True, axis=1, errors='ignore')

Column Name: acc_now_delinq
Description: The number of accounts on which the borrower is now delinquent.

Statistics:
count    42506.000000
mean         0.000094
std          0.009700
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: acc_now_delinq, dtype: float64

Value counts:
0.0    42502
1.0        4
Name: acc_now_delinq, dtype: int64

Unique values:
[ 0. nan  1.]

Mode:
0    0.0
Name: acc_now_delinq, dtype: float64

NaN count: 30

========================================

####"delinq_amnt"

In [203]:
display_info(df, ["delinq_amnt"], df_info)
df.drop("delinq_amnt", inplace=True, axis=1, errors='ignore')

Column Name: delinq_amnt
Description: The past-due amount owed for the accounts on which the borrower is now delinquent.

Statistics:
count    42506.000000
mean         0.143039
std         29.359579
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max       6053.000000
Name: delinq_amnt, dtype: float64

Value counts:
0.0       42504
27.0          1
6053.0        1
Name: delinq_amnt, dtype: int64

Unique values:
[   0.   nan   27. 6053.]

Mode:
0    0.0
Name: delinq_amnt, dtype: float64

NaN count: 30

========================================

####"tax_liens"

In [204]:
display_info(df, ["tax_liens"], df_info)
df.drop("tax_liens", inplace=True, axis=1, errors='ignore')

Column Name: tax_liens
Description: Number of tax liens

Statistics:
count    42430.000000
mean         0.000024
std          0.004855
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: tax_liens, dtype: float64

Value counts:
0.0    42429
1.0        1
Name: tax_liens, dtype: int64

Unique values:
[ 0. nan  1.]

Mode:
0    0.0
Name: tax_liens, dtype: float64

NaN count: 106

========================================

#### Usunięcie pozostałych kolumn o dużej ilości NaN

In [211]:
selected_columns = [col_name for col_name in naan_column.columns if (naan_column[col_name] >  0.1*df.shape[0]).all()]
display_info(df, selected_columns, df_info)
df.drop(selected_columns, inplace=True, axis=1, errors='ignore')

Column Name: verification_status_joint
Description not available.

Statistics:
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: verification_status_joint, dtype: float64

Value counts:
Series([], Name: verification_status_joint, dtype: int64)

Unique values:
[nan]

Mode:
Series([], Name: verification_status_joint, dtype: float64)

NaN count: 42536

========================================
Column Name: total_rev_hi_lim
Description not available.

Statistics:
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: total_rev_hi_lim, dtype: float64

Value counts:
Series([], Name: total_rev_hi_lim, dtype: int64)

Unique values:
[nan]

Mode:
Series([], Name: total_rev_hi_lim, dtype: float64)

NaN count: 42536

========================================
Column Name: revol_bal_joint
Description not available.

Statistics:
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: revol_bal_joint, dtype: float64

Value counts:
Series([], Name: revol_bal_joint, dtype: int64)

Unique values:
[nan]

Mode:
Series([], Name: revol_bal_joint, dtype: float64)

NaN count: 42536

========================================
Column Name: sec_app_fico_range_low
Description not available.

Statistics:
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: sec_app_fico_range_low, dtype: float64

Value counts:
Series([], Name: sec_app_fico_range_low, dtype: int64)

Unique values:
[nan]

Mode:
Series([], Name: sec_app_fico_range_low, dtype: float64)

NaN count: 42536

========================================
Column Name: sec_app_fico_range_high
Description not available.

Statistics:
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: sec_app_fico_range_high, dtype: float64

Value counts:
Series([], Name: sec_app_fico_range_high, dtype: int64)

Unique values:
[nan]

Mode:
Series([], Name: sec_app_fico_range_high, dtype: float64)

NaN count: 42536

========================================
Column Name: sec_app_earliest_cr_line
Description not available.

Statistics:
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: sec_app_earliest_cr_line, dtype: float64

Value counts:
Series([], Name: sec_app_earliest_cr_line, dtype: int64)

Unique values:
[nan]

Mode:
Series([], Name: sec_app_earliest_cr_line, dtype: float64)

NaN count: 42536

========================================
Column Name: sec_app_inq_last_6mths
Description not available.

Statistics:
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: sec_app_inq_last_6mths, dtype: float64

Value counts:
Series([], Name: sec_app_inq_last_6mths, dtype: int64)

Unique values:
[nan]

Mode:
Series([], Name: sec_app_inq_last_6mths, dtype: float64)

NaN count: 42536

========================================
Column Name: sec_app_mort_acc
Description not available.

Statistics:
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: sec_app_mort_acc, dtype: float64

Value counts:
Series([], Name: sec_app_mort_acc, dtype: int64)

Unique values:
[nan]

Mode:
Series([], Name: sec_app_mort_acc, dtype: float64)

NaN count: 42536

========================================
Column Name: sec_app_open_acc
Description not available.

Statistics:
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: sec_app_open_acc, dtype: float64

Value counts:
Series([], Name: sec_app_open_acc, dtype: int64)

Unique values:
[nan]

Mode:
Series([], Name: sec_app_open_acc, dtype: float64)

NaN count: 42536

========================================
Column Name: sec_app_revol_util
Description not available.

Statistics:
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: sec_app_revol_util, dtype: float64

Value counts:
Series([], Name: sec_app_revol_util, dtype: int64)

Unique values:
[nan]

Mode:
Series([], Name: sec_app_revol_util, dtype: float64)

NaN count: 42536

========================================
Column Name: sec_app_num_rev_accts
Description not available.

Statistics:
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: sec_app_num_rev_accts, dtype: float64

Value counts:
Series([], Name: sec_app_num_rev_accts, dtype: int64)

Unique values:
[nan]

Mode:
Series([], Name: sec_app_num_rev_accts, dtype: float64)

NaN count: 42536

========================================
Column Name: sec_app_chargeoff_within_12_mths
Description not available.

Statistics:
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: sec_app_chargeoff_within_12_mths, dtype: float64

Value counts:
Series([], Name: sec_app_chargeoff_within_12_mths, dtype: int64)

Unique values:
[nan]

Mode:
Series([], Name: sec_app_chargeoff_within_12_mths, dtype: float64)

NaN count: 42536

========================================
Column Name: sec_app_collections_12_mths_ex_med
Description not available.

Statistics:
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: sec_app_collections_12_mths_ex_med, dtype: float64

Value counts:
Series([], Name: sec_app_collections_12_mths_ex_med, dtype: int64)

Unique values:
[nan]

Mode:
Series([], Name: sec_app_collections_12_mths_ex_med, dtype: float64)

NaN count: 42536

========================================
Column Name: sec_app_mths_since_last_major_derog
Description not available.

Statistics:
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: sec_app_mths_since_last_major_derog, dtype: float64

Value counts:
Series([], Name: sec_app_mths_since_last_major_derog, dtype: int64)

Unique values:
[nan]

Mode:
Series([], Name: sec_app_mths_since_last_major_derog, dtype: float64)

NaN count: 42536

========================================

###Podsumowanie

In [214]:
mask = df.isna()
naan_counts_columns = [(mask[column] == True).sum() for column in df.columns]
naan_column = pd.DataFrame([naan_counts_columns], columns=df.columns, index=['NaN'])
display(naan_column)

,loan_amnt,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_inc,verification_status,loan_status,desc,purpose,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,total_pymnt,total_pymnt_inv,total_rec_int,last_pymnt_amnt,last_credit_pull_d,pub_rec_bankruptcies,fico_mean
NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0