<a href="https://colab.research.google.com/github/Hubert26/machine-learning/blob/main/project_Hubert_Szewczyk.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#OPIS PROJEKTU

Lending Club to firma pożyczkowa typu peer-to-peer, która łączy pożyczkobiorców z
inwestorami za pośrednictwem platformy internetowej. Obsługuje osoby, które potrzebują
pożyczek osobistych w wysokości od 1000 do 40 000 USD. Pożyczkobiorcy otrzymują pełną
kwotę udzielonej pożyczki pomniejszoną o opłatę początkową, która jest uiszczana firmie.
Inwestorzy kupują weksle zabezpieczone osobistymi pożyczkami i płacą Lending Club
opłatę za usługę. Firma Lending Club udostępnia dane o wszystkich pożyczkach
udzielonych za pośrednictwem swojej platformy w określonych okresach.
Na potrzeby tego projektu zostały użyte dane dotyczące pożyczek udzielonych za
pośrednictwem Lending Club na przestrzeni lat 2007 -2011. Każda pożyczka jest opatrzona
informacją o tym, czy ostatecznie została spłacona (Fully Paid lub Charged off w kolumnie
loan_status).

W tym projekcie chcę zbudować model klasyfikacyjny, który na podstawie zebranych danych będzie przewidywał, czy potencjalny pozyczkobiorca spłaci swój dług.

##KOD

### Preprocessing danych:
1. [Import bibliotek](#0)
2. [Wygenerowanie danych](#1)
3. [Utworzenie kopii danych](#2)
4. [Zmiana typu danych i wstępna eksploracja](#3)
5. [LabelEncoder](#4)
6. [OneHotEncoder](#5)
7. [Pandas *get_dummies()*](#6)
8. [Standaryzacja - StandardScaler](#7)
9. [Przygotowanie danych do modelu](#8)

###IMPORT BIBLIOTEK

In [ ]:
import numpy as np
import pandas as pd
import sklearn

In [ ]:
!gdown --id 1LrKHVdjRK4pMQdsU3gPMUaCgYPbOTr_o

/usr/local/lib/python3.10/dist-packages/gdown/cli.py:121: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=1LrKHVdjRK4pMQdsU3gPMUaCgYPbOTr_o
To: /content/Loan_data.csv
100% 46.9M/46.9M [00:00<00:00, 52.6MB/s]

In [ ]:
df_raw = pd.read_csv("Loan_data.csv", sep=',', dtype={'0': int, '49': str})
df = df_raw.copy()

<ipython-input-26-d253fb1a0d5c>:1: DtypeWarning: Columns (0,49) have mixed types. Specify dtype option on import or set low_memory=False.
  df_raw = pd.read_csv("Loan_data.csv", sep=',', dtype={'0': int, '49': str})

In [ ]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,1077501,NaN,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,1077430,NaN,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,1077175,NaN,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,1076863,NaN,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,1075358,NaN,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
print(df.iloc[0])

id                       1077501
member_id                    NaN
loan_amnt                 5000.0
funded_amnt               5000.0
funded_amnt_inv           4975.0
                          ...
settlement_status            NaN
settlement_date              NaN
settlement_amount            NaN
settlement_percentage        NaN
settlement_term              NaN
Name: 0, Length: 151, dtype: object

In [ ]:
df.iloc[:, 49]

0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
           ...
42531    Mar-2008
42532    Jul-2010
42533    Jul-2010
42534    Jul-2010
42535    Jul-2010
Name: next_pymnt_d, Length: 42536, dtype: object

In [50]:
column_names = df.columns.tolist()
znalezione_wyrazy = [string for string in column_names if "fico" in string]
znalezione_wyrazy

['fico_range_low',
 'fico_range_high',
 'last_fico_range_high',
 'last_fico_range_low',
 'sec_app_fico_range_low',
 'sec_app_fico_range_high']

In [ ]:
mask = df.isna()

In [ ]:
naan_counts = [(df[column] == True).sum() for column in df.columns]

In [ ]:
print(naan_counts)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 24, 3595, 0, 0, 0, 11247, 33, 0, 39, 2298, 13, 0, 21, 0, 0, 0, 0, 0, 0, 0, 1, 3, 5, 0, 2, 0, 0, 0, 0, 0, 0, 42535, 0, 0, 0, 0, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1846, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 17]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42536 entries, 0 to 42535
Columns: 151 entries, id to settlement_term
dtypes: float64(120), object(31)
memory usage: 49.0+ MB

In [ ]:
df.describe()

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,installment,annual_inc,dti,delinq_2yrs,fico_range_low,fico_range_high,...,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,settlement_amount,settlement_percentage,settlement_term
count,0.0,42535.000000,42535.000000,42535.000000,42535.000000,4.253100e+04,42535.000000,42506.000000,42535.000000,42535.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,160.000000,160.000000,160.000000
mean,NaN,11089.722581,10821.585753,10139.938785,322.623063,6.913656e+04,13.373043,0.152449,713.052545,717.052545,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4272.137875,49.905875,1.200000
std,NaN,7410.938391,7146.914675,7131.598014,208.927216,6.409635e+04,6.726315,0.512406,36.188439,36.188439,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3119.373774,15.563690,4.085255
min,NaN,500.000000,500.000000,0.000000,15.670000,1.896000e+03,0.000000,0.000000,610.000000,614.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,193.290000,10.690000,0.000000
25%,NaN,5200.000000,5000.000000,4950.000000,165.520000,4.000000e+04,8.200000,0.000000,685.000000,689.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1842.750000,40.000000,0.000000
50%,NaN,9700.000000,9600.000000,8500.000000,277.690000,5.900000e+04,13.470000,0.000000,710.000000,714.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3499.350000,49.970000,0.000000
75%,NaN,15000.000000,15000.000000,14000.000000,428.180000,8.250000e+04,18.680000,0.000000,740.000000,744.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5701.100000,60.652500,0.000000
max,NaN,35000.000000,35000.000000,35000.000000,1305.190000,6.000000e+06,29.990000,13.000000,825.000000,829.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14798.200000,92.740000,24.000000

In [ ]:
selected_columns = [column for column, count in zip(df.columns, naan_counts) if count > 15]

In [ ]:
df[selected_columns]

,dti,delinq_2yrs,inq_last_6mths,mths_since_last_delinq,open_acc,pub_rec,revol_bal,total_acc,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,policy_code,acc_now_delinq,pub_rec_bankruptcies,tax_liens,settlement_term
0,27.65,0.0,1.0,NaN,3.0,0.0,13648.0,9.0,0.00,0.0,0.00,171.62,1.0,0.0,0.0,0.0,NaN
1,1.00,0.0,5.0,NaN,3.0,0.0,1687.0,4.0,0.00,122.9,1.11,119.66,1.0,0.0,0.0,0.0,NaN
2,8.72,0.0,2.0,NaN,2.0,0.0,2956.0,10.0,0.00,0.0,0.00,649.91,1.0,0.0,0.0,0.0,NaN
3,20.00,0.0,1.0,35.0,10.0,0.0,5598.0,37.0,16.97,0.0,0.00,357.48,1.0,0.0,0.0,0.0,NaN
4,17.94,0.0,0.0,38.0,15.0,0.0,27783.0,38.0,0.00,0.0,0.00,67.30,1.0,0.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42531,10.00,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.00,0.0,0.00,0.00,1.0,NaN,NaN,NaN,NaN
42532,10.00,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.00,0.0,0.00,32.41,1.0,NaN,NaN,NaN,NaN
42533,10.00,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.00,0.0,0.00,82.03,1.0,NaN,NaN,NaN,NaN
42534,4.00,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.00,0.0,0.00,205.32,1.0,NaN,NaN,NaN,NaN
42535,8.81,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.00,0.0,0.00,156.39,1.0,NaN,NaN,NaN,NaN

In [38]:
for i in column_names:
  print(i)

id
member_id
loan_amnt
funded_amnt
funded_amnt_inv
term
int_rate
installment
grade
sub_grade
emp_title
emp_length
home_ownership
annual_inc
verification_status
issue_d
loan_status
pymnt_plan
url
desc
purpose
title
zip_code
addr_state
dti
delinq_2yrs
earliest_cr_line
fico_range_low
fico_range_high
inq_last_6mths
mths_since_last_delinq
mths_since_last_record
open_acc
pub_rec
revol_bal
revol_util
total_acc
initial_list_status
out_prncp
out_prncp_inv
total_pymnt
total_pymnt_inv
total_rec_prncp
total_rec_int
total_rec_late_fee
recoveries
collection_recovery_fee
last_pymnt_d
last_pymnt_amnt
next_pymnt_d
last_credit_pull_d
last_fico_range_high
last_fico_range_low
collections_12_mths_ex_med
mths_since_last_major_derog
policy_code
application_type
annual_inc_joint
dti_joint
verification_status_joint
acc_now_delinq
tot_coll_amt
tot_cur_bal
open_acc_6m
open_act_il
open_il_12m
open_il_24m
mths_since_rcnt_il
total_bal_il
il_util
open_rv_12m
open_rv_24m
max_bal_bc
all_util
total_rev_hi_lim
inq_fi
total_cu_tl
inq_last_12m
acc_open_past_24mths
avg_cur_bal
bc_open_to_buy
bc_util
chargeoff_within_12_mths
delinq_amnt
mo_sin_old_il_acct
mo_sin_old_rev_tl_op
mo_sin_rcnt_rev_tl_op
mo_sin_rcnt_tl
mort_acc
mths_since_recent_bc
mths_since_recent_bc_dlq
mths_since_recent_inq
mths_since_recent_revol_delinq
num_accts_ever_120_pd
num_actv_bc_tl
num_actv_rev_tl
num_bc_sats
num_bc_tl
num_il_tl
num_op_rev_tl
num_rev_accts
num_rev_tl_bal_gt_0
num_sats
num_tl_120dpd_2m
num_tl_30dpd
num_tl_90g_dpd_24m
num_tl_op_past_12m
pct_tl_nvr_dlq
percent_bc_gt_75
pub_rec_bankruptcies
tax_liens
tot_hi_cred_lim
total_bal_ex_mort
total_bc_limit
total_il_high_credit_limit
revol_bal_joint
sec_app_fico_range_low
sec_app_fico_range_high
sec_app_earliest_cr_line
sec_app_inq_last_6mths
sec_app_mort_acc
sec_app_open_acc
sec_app_revol_util
sec_app_open_act_il
sec_app_num_rev_accts
sec_app_chargeoff_within_12_mths
sec_app_collections_12_mths_ex_med
sec_app_mths_since_last_major_derog
hardship_flag
hardship_type
hardship_reason
hardship_status
deferral_term
hardship_amount
hardship_start_date
hardship_end_date
payment_plan_start_date
hardship_length
hardship_dpd
hardship_loan_status
orig_projected_additional_accrued_interest
hardship_payoff_balance_amount
hardship_last_payment_amount
disbursement_method
debt_settlement_flag
debt_settlement_flag_date
settlement_status
settlement_date
settlement_amount
settlement_percentage
settlement_term

In [51]:
df[znalezione_wyrazy].describe()

,fico_range_low,fico_range_high,last_fico_range_high,last_fico_range_low,sec_app_fico_range_low,sec_app_fico_range_high
count,42535.000000,42535.000000,42535.000000,42535.000000,0.0,0.0
mean,713.052545,717.052545,689.922511,676.952039,NaN,NaN
std,36.188439,36.188439,80.818099,119.647752,NaN,NaN
min,610.000000,614.000000,0.000000,0.000000,NaN,NaN
25%,685.000000,689.000000,644.000000,640.000000,NaN,NaN
50%,710.000000,714.000000,699.000000,695.000000,NaN,NaN
75%,740.000000,744.000000,749.000000,745.000000,NaN,NaN
max,825.000000,829.000000,850.000000,845.000000,NaN,NaN

In [52]:
df[znalezione_wyrazy].iloc[0]

fico_range_low             735.0
fico_range_high            739.0
last_fico_range_high       739.0
last_fico_range_low        735.0
sec_app_fico_range_low       NaN
sec_app_fico_range_high      NaN
Name: 0, dtype: float64